#root {
  /* color variables */
  --header: #000000d6;
  --header-border: #DBD3EB30;
  --dark-gray: #1C2021;
  --gray: #393E41;
  --light-gray: #DBD3EB57;
  --dark-purple: #1a0b3f;
  --purple: #646cff;
  --red: #ff3e41;
  --white: #f7f7ff;
  
  /* styles */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--dark-purple);
}

header a {
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}
header a:visited {
  color: inherit;
}

/* Header */
header {
  padding: 0 8px 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--header);
  box-shadow: 0 4px 3px -5px black;
  max-width: 900px;
  margin: 18px auto;
  border-radius: 4rem;
  position: sticky;
  top: 12px;
  backdrop-filter: blur(15px);
  border: 1px solid var(--header-border);
  z-index: 1;
}

.logo {
  font-size: 16pt;
  cursor: pointer;
  transition: 355ms;
}
.logo:hover {
  color: var(--red);
  filter: drop-shadow(0 0 .8em var(--red));
}

header > ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header > ul > li {
  list-style-type: none;
  font-size: 11pt;
  margin: 5px 15px 0 18px;
  cursor: pointer;
  transition: 355ms;
}
header > ul > li:hover {
  color: var(--purple);
}

header > form {
  min-width: 320px;
  display: flex;
  justify-content: flex-end;
}

.search-box {
  width: 200px;
  height: 36px;
  border-radius: 2rem;
  padding-left: 16px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  margin-right: 4px;
  transition: 355ms;
}
.search-box:hover {
  border-color: var(--purple);
}
.search-box:focus {
  outline: 1px solid var(--purple);
}

.search-btn {
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 2rem;
  padding: 4px 0 0 0;
  border: 1px solid transparent;
  /* background-color: var(--dark-gray); */
  cursor: pointer;
  transition: 355ms;
}
.search-btn:hover {
  border-color: var(--purple);
}
.search-btn:focus {
  outline: 1px solid var(--purple);
}

/* Home page */

/* Hero */
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -114px;
  padding-top: 114px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 180px auto 25px;
}
.hero-container > img {
  height: 400px;
  min-width: 266px;
  background: var(--dark-purple);
  border-radius: 8px;
  margin: 20px 20px 20px 0;
  transition: 355ms;
}
.hero-container > img:hover {
  transform: scale(1.02);
}


.text-container {
  text-align: left;
  align-content: flex-end;
  font-size: 13pt;
  margin: 0 0 21px 0;
}
.text-container > h2 {
  font-size: 24pt;
  text-shadow: 0 0 6px black;
}
.text-container > p {
  text-shadow: 0 0 6px black;
}

.media-tag.tag {
  background-color: var(--dark-gray);
  border: 1px solid var(--red);
  border-radius: 4px;
  margin-right: 5px;
  padding: 2px 4px;
}

.tag {
  background-color: var(--dark-gray);
  border: 1px solid var(--purple);
  border-radius: 4px;
  margin-right: 5px;
  padding: 2px 4px;
  transition: 355ms;
  cursor: pointer;
}
.tag:hover {
  background-color: var(--gray);
}

.bottom {
  display: flex;
  flex-direction: row;
  max-height: 55px;
}
.bottom > a > button {
  margin: 0 10px 0 0;
  background-color: var(--purple);
  border-color: var(--light-gray);
  display: inline;
  vertical-align: middle;
}
.bottom > a  > button:hover {
  border-color: var(--white);
}
.bottom > a   > button > svg {
  transform: translateY(4px) translateX(-4px);
}
.bottom > a   > button > span {
  font-size: 14pt;
  font-weight: 600;
}

.bottom > p {
  margin: auto 0 1px 0;
}

.hero-rating {
  color: goldenrod;
  height: 34px;
  margin: auto 8px 0px 0;
}

/* Discovery Cards */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px 0;
  box-sizing: border-box;
}

.card {
  margin: 15px 15px;
  padding: 0;
  border: 1px solid var(--purple);
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  width: 185px;
  height: 280px;
  overflow: hidden;
  justify-content: center;
  transition: 355ms;
  box-shadow:  0 0 16px -5px var(--purple);
}
.card:hover {
  /* box-shadow: 0 5px 15px -8px black; */
  transform: scale(1.02);
}
.card:hover > .movie-cover {
  filter: blur(1px) brightness(.25);
}
.card:hover > .text-content {
  opacity: 1;
}

.card .movie-cover {
  border-radius: 4px;
  transition: inherit;
}

.card .media-type {
  position: absolute;
  background-color: var(--dark-gray);
  /* border: 1px solid var(--red); */
  border-radius: 4px;
  padding: 2px 4px;
}

.text-content {
  opacity: 0;
  position: absolute;
  width: 150px;
  height: 225px;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  transition: inherit;
}

.text-content > .title {
  font-size: 12pt;
  font-weight: 600;
  margin: 20px 0 0;
}

.text-content > .description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 11pt;
}

.cards-rating {
  color: goldenrod;
  margin: auto auto 0;
}

.text-content > a {
  margin: 0 auto 0;
}
.text-content > a > button {
  vertical-align: middle;
  background-color: var(--purple);
  border-color: var(--light-gray);
}
.text-content > a > button:hover {
  border-color: var(--white);
}
.text-content > a > button > svg {
  transform: translate(2px, 2px);
}

/* Details page */

/* details component */
.details-container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 180px auto 25px;
}
.details-container > img {
  height: 400px;
  min-width: 266px;
  background: var(--dark-purple);
  border-radius: 8px;
  margin: 20px 20px 20px 0;
  transition: 355ms;
}
.details-container > img:hover {
  transform: scale(1.02);
}

.text-container {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.684);
}

.text-container > h2 {
  margin: 0;
}

.text-container .year {
  font-size: 14pt;
  margin: 0 12px;
  font-weight: 400;
  color: #e2e4ff;
}
.text-container > .year {
  margin: 0 6px 0 0;
  border-bottom: 1px solid #f0f8ff30;
}

.text-container > .director {
  font-size: 14pt;
  margin: 0;
  font-weight: 400;
  color: #a2a5db;
}
.text-container > .director > .name {
  color: #e2e4ff;
  border-bottom: 1px solid #f0f8ff30;
}

.letterboxd-btn {
  height: 40px;
  margin: 0 0 0 auto;
  background-color: #202830;
  border-radius: 10px;
  transition: 355ms;
  overflow: hidden;
}
.letterboxd-btn:hover {
  filter: brightness(1.2);
}
.letterboxd-btn > img {
  height: 100%;
}