:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: black;
}

a:not(header) {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:not(header):hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  animation: fade-in 1s;
}

main {
  max-width: 1440px;
  margin: 0 auto 100px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 24pt;
  margin: 0 0 0 38px;
  text-align: left;
}

h3 > a {
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}
h3 > a:hover {
  color: inherit;
}

h3 > a > span {
  display: inline-block;
  color: cyan;
  font-size: 14pt;
  font-weight: 200;
  margin: 0 0 0 8px;
  align-self: center;
  opacity: 0;
  transition: 355ms;
  transform: translateX(-40px);
}
h3:hover > a > span {
  opacity: 1;
  transform: translateX(0px);
}

h3 > a > span > svg {
  transform: translateY(3px);
  color: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
