@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes fade-in {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0px);
}
}

@keyframes modal-overlay-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes modal-overlay-out {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}

@keyframes modal-content-in {
from {
    opacity: 0;
    transform: scale(0.95);
}
to {
    opacity: 1;
    transform: scale(1);
}
}

@keyframes modal-content-out {
from {
    opacity: 1;
    transform: scale(1);
}
to {
    opacity: 0;
    transform: scale(0.95);
}
}

@keyframes fade-right {
from {
    opacity: 0;
    transform: translateX(-20px);
}
to {
    opacity: 1;
    transform: translateX(0px);
}
}

@keyframes fade-down {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0px);
}
}