:root {
    --header: #000000d6;
    --header-border: #DBD3EB30;
    --dark-gray: #1C2021;
    --gray: #393E41;
    --light-gray: #DBD3EB57;
    --dark-purple: #1a0b3f;
    --purple: #646cff;
    --red: #ff3e41;
    --white: #f7f7ff;
    --off-white: #acacac;
}