:root {
    --header: rgba(0, 0, 0, 0.839);
    --header-border: rgba(219, 211, 235, 0.188);
    --dark-gray: rgb(28, 32, 33);
    --gray: rgb(57, 62, 65);
    --light-gray: rgba(219, 211, 235, 0.341);
    --dark-purple: rgb(26, 11, 63);
    --purple: rgb(100, 108, 255);
    --red: rgb(255, 62, 65);
    --white: rgb(247, 247, 255);
    --off-white: rgb(172, 172, 172);
}